h1 {
    color: blue;
    text-align: center;
}
body{
    background-color: rgb(134, 138, 141);
}
nav{
    text-align:center;
}
image{
    max-height: 25px;
    width: 20px;

}
.contacts{
    color: brown;
    font-style: italic;
}