h1 {
    color: blue;
    text-align: center;
    font-size: 1.5cm;
}
body{
    background-color: rgb(134, 138, 141);
}
nav>a {
    text-align:center;
    padding: 30px;
    text-decoration: none;
    
}


#footer{
    color: brown;
    font-style: italic;
    text-align: center;
    font-size: 0.8cm;
}
#projects{
    text-align: center;
    font-size: 0.5cm;
}
span{
    text-align: center;
    font-size: 1.5cm;
}
#about{
    text-align: center;
    font-size: 0.5cm;
}
.home{
    display:flex;
    justify-content: center;
}
p{
    font-style: inherit;
}