h1 {
    color: blue;
    text-align: center;
}
body{
    background-color: rgb(134, 138, 141);
}
nav>a {
    text-align:center;
    padding: 30px;
    text-decoration: none;
}
image{
    
    width: 20px;

}
#contacts{
    color: brown;
    font-style: italic;
}